<h2>Exrc 4/4</h2>
<div ng-controller="pt4ex4Ctrls">
    <div class="col-row-12">
        <div class="form-group col-sm-5">
            <h3> Adopted pets</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Type</th>
                        <th scope="col"></th>
                    </tr>
                    <tr ng-repeat="currPet in petList" class="table-light">
                        <td>{{currPet.id}}</td>
                        <td>{{currPet.name}}</td>
                        <td>{{currPet.age}}</td>
                        <td>{{currPet.type}}</td>
                        <td>
                            <buton type="button" class="btn btn-secondary" ng-click="removePet(currPet)">-</buton>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="form-group col-sm-2">
            <div ng-class="adoptionMedal">
                Adopted pets: {{petList.length}}
            </div>
        </div>
    </div>
    <div class="col-row-12">
        <div class="form-group col-sm-3">
            <div class="col-row-3">
                <button ng-show="!newPetForm" type="button" class="btn btn-secondary" ng-click="btnAddPetClicked()">Adopt new pet</button>
            </div>
        </div>
        <form name="petForm" ng-submit="btnAdoptCliked()" ng-if="newPetForm">
            <div class="form-group col-sm-3">
                <fieldset>
                    <legend>Pet</legend>
                    <div class="form-group">
                        <label for="name">Pet name</label>
                        <input ng-model="petData.name" type="text" class="form-control" name="name" placeholder="Enter your pet name" ng-minlength="3"
                            ng-maxlength="50" pattern="[a-zA-Z]+" required>
                        <div ng-show="petForm.name.$touched && petForm.name.$invalid">
                            <p class="text-danger" ng-show="petForm.name.$error.required">required</p>
                            <p class="text-danger" ng-show="petForm.name.$error.minlength">too short</p>
                            <p class="text-danger" ng-show="petForm.name.$error.maxlength">too long</p>
                            <p class="text-danger" ng-show="petForm.name.$error.pattern">english letters only</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="age">Pet age</label>
                        <input ng-model="petData.age" type="number" class="form-control" name="age" min="0" max="200" required>
                        <div ng-show="petForm.age.$touched && petForm.age.$invalid">
                            <p class="text-danger" ng-show="petForm.age.$error.required">required</p>
                            <p class="text-danger" ng-show="petForm.age.$error.min">can't be negative</p>
                            <p class="text-danger" ng-show="petForm.age.$error.max">can't be alive</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="petType">Pet type:</label>
                        <select ng-model="petData.type" class="form-control" name="petType" required>
                            <option>Dog</option>
                            <option>Cat</option>
                            <option>Bear</option>
                            <option>GW Shark</option>
                            <option>Unicorn</option>
                        </select>
                        <div ng-show="petForm.petType.$touched && petForm.petType.$invalid">
                            <p class="text-danger" ng-show="petForm.petType.$error.required">required</p>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="!petForm.$valid">Adopt</button>
        </form>
    </div>
</div>