<md-content class="md-padding" layout-xs="column" layout="row">
    <div class="md-padding">
        <div class="container">
            <button tooltip='simple tooltip here' tooltip-position='buttom'> click Me !! </button>
        </div>
        <span> Hover me {{name}}
            <md-tooltip>woohoo</md-tooltip>
        </span>
        <md-card layout="column">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Battle Preferences</span>
                    <span class="md-subhead">Choose wisely if you want to win.</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <div layout="row" layout-align="space-between center md-select-menu-container">
                    <span>What is your favorite weapon?</span>
                    <md-select  ng-model="weapon" placeholder="Weapon" class="md-no-underline ">
                        <md-option  value="axe" tooltip='simple tooltip here' tooltip-position='buttom'>Axe
                        </md-option>
                        <md-option value="sword">
                            <span>Sword </span>
                            <span tooltip='simple tooltip here' tooltip-position='buttom'>V </span>
                        </md-option>
                        <md-option value="wand">
                            <span>Wand </span>
                            <div tooltip='{{info}}' tooltip-position='buttom'>V</div>
                        </md-option>
                        <md-option value="pen">
                            <span>Pen? 
                        </md-option>
                    </md-select>
                </div>

                <div layout="row" layout-align="space-between center">
                    <span>What armor do you wear?</span>
                    <md-select ng-model="armor" placeholder="Armor"
                        class="md-no-underline" required md-no-asterisk="false">
                        <md-option value="cloth">Cloth</md-option>
                        <md-option value="leather">Leather</md-option>
                        <md-option value="chain">Chainmail</md-option>
                        <md-option value="plate">
                            Plate

                            <div class="logo">
                                V
                                <div class="tooltiptext" style="background-color: black;">
                                        {{info}}
                                </div>
                            </div>



                        </md-option>
                    </md-select>
                </div>

                <div layout="row" layout-align="space-between center">
                    <span>How do you refresh your magic?</span>
                    <md-select ng-model="drink" placeholder="Drink" class="md-no-underline">
                        <md-option value="water">

                            <span> Water </span>

                        </md-option>
                        <md-option value="juice">Juice</md-option>
                        <md-option value="milk">Milk</md-option>
                        <md-option value="wine">Wine</md-option>
                        <md-option value="mead">Mead</md-option>
                    </md-select>
                </div>
            </md-card-content>
        </md-card>
    </div>

</md-content>