<md-content class="md-padding" layout-xs="column" layout="row">
    <div class="md-padding">
        <div class="container">
            <button tooltip='simple tooltip here' tooltip-position='buttom'> click Me !! </button>
        </div>
        <span> Hover me {{name}}
            <md-tooltip>woohoo</md-tooltip>
        </span>
        <md-card layout="column">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Battle Preferences</span>
                    <span class="md-subhead">Choose wisely if you want to win.</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <!-- <div layout="row" layout-align="space-between center md-select-menu-container">
                    <span>What is your favorite weapon?</span>
                    <md-select class="overlay" aria-hidden="false" ng-model="weapon" placeholder="Weapon"
                        class="md-no-underline ">
                        <md-option value="axe">Axe
                        </md-option>
                        <md-option value="sword">
                            <span>Sword </span>
                            <span tooltip='simple tooltip here' tooltip-position='buttom'>V </span>
                        </md-option>
                        <md-option value="wand">
                            <span>Wand </span>
                            <div class="logo-container">
                                <div tooltip='{{info}}' tooltip-position='buttom'>V</div>
                            </div>
                        </md-option>
                        <md-option value="pen">
                            <span>Pen?
                        </md-option>
                    </md-select>
                </div> -->

                <div layout="row" layout-align="space-between center">
                    <span>What armor do you wear?</span>
                    <md-input-container style="overflow: visible !important;">
                        <md-select style="overflow: visible !important;" ng-model="armor" placeholder="Armor"
                            class="md-no-underline" required md-no-asterisk="false">

                            <md-option value="cloth">Cloth</md-option>
                            <md-option value="leather">Leather</md-option>
                            <md-option value="chain">Chainmail</md-option>
                            <md-option value="plate">
                                Plate

                                <div style="overflow: visible !important;" class="logo">
                                    V
                                    <div class="tooltiptext"
                                        style="background-color: black;overflow: visible !important;">
                                        <span><u><b>כלי תפוס</b></u></span></br>
                                        <span>02/02/19 <b>החל מתאריך</b></span></br>
                                        <span>09:00 <b>בשעה</b></span></br>
                                        <span>02/02/19 <b>עד תאריך</b></span></br>
                                        <span>11:00 <b>בשעה</b></span></br>
                                        <span><b> ע"י</b>פולשים הלילה ללבנון</span></br>
                                        <hr>
                                        </hr>
                                        <span>02/02/19 <b>החל מתאריך</b></span></br>
                                        <span>09:00 <b>בשעה</b></span></br>
                                        <span>02/02/19 <b>עד תאריך</b></span></br>
                                        <span>11:00 <b>בשעה</b></span></br>
                                        <span><b> ע"י</b>פולשים הלילה ללבנון </span></br>
                                    </div>
                                </div>
                            </md-option>

                            <md-option value="i">Cloth</md-option>
                            <md-option value="e">
                                <div tooltip='{{info}}' tooltip-position='buttom'>V</div>
                                Leather
                            </md-option>
                            <md-option value="d">Chainmail</md-option>

                        </md-select>
                    </md-input-container>
                </div>

                <div layout="row" layout-align="space-between center">
                    <span>How do you refresh your magic?</span>
                    <md-input-container>

                        <md-select ng-model="drink" placeholder="Drink" class="md-no-underline">
                            <md-option value="water" ng-click="null">

                                <span> Water </span>

                            </md-option>
                            <md-option value="juice" ng-click="null">Juice
                                <md-icon style="pointer-events: visible">
                                    a
                                    <md-tooltip md-direction="right" class="tt-multiline">
                                        <span><u><b>כלי תפוס</b></u></span></br>
                                        <span>02/02/19 <b>החל מתאריך</b></span></br>
                                        <span>09:00 <b>בשעה</b></span></br>
                                        <span>02/02/19 <b>עד תאריך</b></span></br>
                                        <span>11:00 <b>בשעה</b></span></br>
                                        <span><b> ע"י</b>פולשים הלילה ללבנון</span></br>
                                        <hr>
                                        </hr>
                                        <span>02/02/19 <b>החל מתאריך</b></span></br>
                                        <span>09:00 <b>בשעה</b></span></br>
                                        <span>02/02/19 <b>עד תאריך</b></span></br>
                                        <span>11:00 <b>בשעה</b></span></br>
                                        <span><b> ע"י</b>פולשים הלילה ללבנון </span></br>
                                    </md-tooltip>
                                </md-icon>
                            </md-option>
                            <md-option value="milk" ng-click="null">Milk
                                <md-icon style="pointer-events: visible">
                                    a
                                    <md-tooltip md-direction="right" class="tt-multiline">
                                        {{info}} </br> {{info}}
                                    </md-tooltip>
                                </md-icon>
                            </md-option>
                            <md-option value="wine" ng-click="null">Wine</md-option>
                            <md-option value="mead" ng-click="null">Mead
                                <md-icon style="pointer-events: visible">
                                    a
                                    <md-tooltip md-direction="left" class="tt-multiline">2016/04/08 09:45:02
                                        09:45<br>04/08
                                    </md-tooltip>
                                </md-icon>
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </md-card-content>
        </md-card>
    </div>

</md-content>