<h2>Exrc 6/1</h2>
<div class="form-group row-sm-10">
    <div class="col-sm-3">
        <button type="button" class="btn btn-secondary" ng-click="appendDigit(7)">7</button>
        <button type="button" class="btn btn-secondary" ng-click="appendDigit(8)">8</button>
        <button type="button" class="btn btn-secondary" ng-click="appendDigit(9)">9</button>
        <button type="button" class="btn btn-secondary" ng-click="appendOperand('+')">+</button>
    </div>
    <div class="col-sm-3">
        <button type="button" class="btn btn-secondary" ng-click="appendDigit(4)">4</button>
        <button type="button" class="btn btn-secondary" ng-click="appendDigit(5)">5</button>
        <button type="button" class="btn btn-secondary" ng-click="appendDigit(6)">6</button>
        <button type="button" class="btn btn-secondary" ng-click="appendOperand('-')">-</button>
    </div>
    <div class="col-sm-3">
        <button type="button" class="btn btn-secondary" ng-click="appendDigit(1)">1</button>
        <button type="button" class="btn btn-secondary" ng-click="appendDigit(2)">2</button>
        <button type="button" class="btn btn-secondary" ng-click="appendDigit(3)">3</button>
        <button type="button" class="btn btn-secondary" ng-click="appendOperand('*')">*</button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-secondary" style="width:50%" ng-click="appendDigit(0)"> 0</button>
        <button type="button" class="btn btn-secondary" ng-click="appendOperand('/')">/</button>
    </div>
</div>
<div class="form-group row-sm-1">
    <div class="col-sm-3">
        {{calcString}}
        <button type="button" class="btn btn-secondary" ng-click="calculate()"> = </button>
        {{result}}
    </div>
</div>
<div class="form-group row-sm-1">
    <div class="col-sm-3">
        <button type="button" class="btn btn-secondary" ng-click="clear()"> Clear </button>
    </div>
</div>
